<!-- covers.html -->
<section id="covers">
  <div class="marquee container">
    <h2 class="visually-hidden">Covers</h2>
    <ul class="marquee-inner">
      <li class="marquee-card">
        <img
          class="marquee-picture"
          srcset="../img/covers/rectangle_12@2x.jpg 2x"
          src="../img/covers/rectangle_12.jpg"
          alt="English learning"
          loading="lazy"
        />
      </li>

      <li class="marquee-card">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_6@2x.jpg 2x"
          src="./img/covers/rectangle_6.jpg"
          alt="Cosmetics brand"
          loading="lazy"
        />
      </li>
    </ul>
    <ul class="marquee-inner">
      <li class="marquee-card">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_10@2x.jpg 2x"
          src="./img/covers/rectangle_10.jpg"
          alt="Fitness"
          loading="lazy"
        />
      </li>
      <li class="marquee-card">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_7@2x.jpg 2x"
          src="./img/covers/rectangle_7.jpg"
          alt="Mimino"
          loading="lazy"
        />
      </li>
    </ul>
    <ul class="marquee-inner">
      <li class="marquee-card">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_11@2x.jpg 2x"
          src="./img/covers/rectangle_11.jpg"
          alt="Finances Masterfully"
          loading="lazy"
        />
      </li>
      <li class="marquee-card">
        <img
          class="marquee-picture"
          srcset="./img/covers/first_screen_1@2x.jpg 2x"
          src="./img/covers/first_screen_1.jpg"
          alt="Business leader"
          loading="lazy"
        />
      </li>
      <li class="marquee-card">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_8@2x.jpg 2x"
          src="./img/covers/rectangle_8.jpg"
          alt="Ukrainian artistry"
          loading="lazy"
        />
      </li>
    </ul>
    <ul class="marquee-inner">
      <li class="marquee-card">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_9@2x.jpg 2x"
          src="./img/covers/rectangle_9.jpg"
          alt="Organic vegetables"
          loading="lazy"
        />
      </li>
      <li class="marquee-card">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_4@2x.jpg 2x"
          src="./img/covers/rectangle_4.jpg"
          alt="Get body in shape"
          loading="lazy"
        />
      </li>
      <li class="marquee-card">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_5@2x.jpg 2x"
          src="./img/covers/rectangle_5.jpg"
          alt="Fresh harvest box"
          loading="lazy"
        />
      </li>
    </ul>
    <ul class="marquee-inner">
      <li class="marquee-card">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_12@2x.jpg 2x"
          src="./img/covers/rectangle_12.jpg"
          alt="Learning English"
          loading="lazy"
        />
      </li>
      <li class="marquee-card">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_6@2x.jpg 2x"
          src="./img/covers/rectangle_6.jpg"
          alt="Cosmetics brand"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
