<!-- covers.html -->
<section id="covers">
  <div class="marquee container">
    <h2 class="visually-hidden">Covers</h2>
    <ul class="marquee-inner">
      <li class="marquee-card animation">
        <img
          class="marquee-picture"
          srcset="../img/covers/rectangle_12@2x.jpg 2x"
          src="../img/covers/rectangle_12.jpg"
          alt="English learning"
        />
      </li>
      <li class="marquee-card animation">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_6@2x.jpg 2x"
          src="./img/covers/rectangle_6.jpg"
          alt="Cosmetics brand"
        />
      </li>
    </ul>
    <ul class="marquee-inner second-line">
      <li class="marquee-card animation">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_10@2x.jpg 2x"
          src="./img/covers/rectangle_10.jpg"
          alt="Fitness"
        />
      </li>
      <li class="marquee-card animation">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_7@2x.jpg 2x"
          src="./img/covers/rectangle_7.jpg"
          alt="Mimino"
        />
      </li>
    </ul>
    <ul class="marquee-inner">
      <li class="marquee-card animation">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_11@2x.jpg 2x"
          src="./img/covers/rectangle_11.jpg"
          alt="Finances Masterfully"
        />
      </li>
      <li class="marquee-card animation">
        <img
          class="marquee-picture"
          srcset="./img/covers/first_screen_1@2x.jpg 2x"
          src="./img/covers/first_screen_1.jpg"
          alt="Business leader"
        />
      </li>
      <li class="marquee-card animation">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_8@2x.jpg 2x"
          src="./img/covers/rectangle_8.jpg"
          alt="Ukrainian artistry"
        />
      </li>
    </ul>
    <ul class="marquee-inner">
      <li class="marquee-card animation">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_9@2x.jpg 2x"
          src="./img/covers/rectangle_9.jpg"
          alt="Organic vegetables"
        />
      </li>
      <li class="marquee-card animation">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_4@2x.jpg 2x"
          src="./img/covers/rectangle_4.jpg"
          alt="Get body in shape"
        />
      </li>
      <li class="marquee-card animation">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_5@2x.jpg 2x"
          src="./img/covers/rectangle_5.jpg"
          alt="Fresh harvest box"
        />
      </li>
    </ul>
    <ul class="marquee-inner">
      <li class="marquee-card animation">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_12@2x.jpg 2x"
          src="./img/covers/rectangle_12.jpg"
          alt="Learning English"
        />
      </li>
      <li class="marquee-card animation">
        <img
          class="marquee-picture"
          srcset="./img/covers/rectangle_6@2x.jpg 2x"
          src="./img/covers/rectangle_6.jpg"
          alt="Cosmetics brand"
        />
      </li>
    </ul>
  </div>
</section>
