<!-- faq.html -->
<section class="section fqa" id="section-faq">
    <div class="container fqa-container">
        <h2 class="faq-main-title">FAQ</h2>
        <div class="faq-wrapper">
            <ul class="faq-list accordion-container">
                <li class="faq-item ac">
                    <h3 class="faq-title ac-header">
                        <button type="button" class="faq-btn ac-trigger">
                            What programming languages are most often used in your
                            project?
                            <svg class="faq-svg" width="20" height="20">
                                <use href="./img/icons/arrow.svg#icon-arrow-botton" />
                            </svg>
                        </button>
                    </h3>

                    <div class="ac-comment ac-panel">
                        <p class="faq-paragraph ac-text ">
                            In the field of web development, there are various technologies
                            and programming languages. Typically, this includes a combination
                            of frontend (client side) and backend (server side) languages.
                        </p>
                    </div>
                </li>
                <li class="faq-item ac">
                    <h3 class="faq-title ac-header">
                        <button type="button" class="faq-btn ac-trigger">
                            What are the deadlines for the project?<svg class="faq-svg" width="20" height="20">
                                <use href="./img/icons/arrow.svg#icon-arrow-botton"/>
                            </svg>
                        </button>
                    </h3>

                    <div class="ac-comment ac-panel">
                        <p class="faq-paragraph ac-text">
                            The terms of project implementation depend to a large extent on a
                            number of factors, such as the scope of the project, its
                            complexity, and the availability of resources. Determining exact
                            deadlines is a difficult task, and it usually occurs during the
                            planning phase of the project.
                        </p>
                    </div>
                </li>
                <li class="faq-item ac">
                    <h3 class="faq-title ac-header">
                        <button type="button" class="faq-btn ac-trigger">
                            What payment methods do you accept?<svg class="faq-svg" width="20" height="20">
                            <use href="./img/icons/arrow.svg#icon-arrow-botton" />
                            </svg>
                        </button>
                    </h3>

                    <div class="ac-comment ac-panel">
                        <p class="faq-paragraph ac-text">
                            Payment through credit and debit cards such as Visa, MasterCard,
                            specialized electronic payment systems such as PayPal, as well as
                            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
                        </p>
                    </div>
                </li>
                <li class="faq-item ac">
                    <h3 class="faq-title ac-header">
                        <button type="button" class="faq-btn ac-trigger">
                            How can I contact you?<svg class="faq-svg" width="20" height="20">
                            <use href="./img/icons/arrow.svg#icon-arrow-botton" />
                            </svg>
                        </button>
                    </h3>

                    <div class="ac-comment ac-panel">
                        <p class="faq-paragraph ac-text">
                            In the field of web development, there are various technologies
                            and programming languages. Typically, this includes a combination
                            of frontend (client side) and backend (server side) languages.
                        </p>
                    </div>
                </li>
                <li class="faq-item ac">
                    <h3 class="faq-title ac-header">
                        <button type="button" class="faq-btn ac-trigger">
                            Do you provide advice or support?<svg class="faq-svg" width="20" height="20">
                                <use href="./img/icons/arrow.svg#icon-arrow-botton" />
                            </svg>
                        </button>
                    </h3>

                    <div class="ac-comment ac-panel">
                        <p class="faq-paragraph ac-text">
                            The terms of project implementation depend to a large extent on a
                            number of factors, such as the scope of the project, its
                            complexity, and the availability of resources. Determining exact
                            deadlines is a difficult task, and it usually occurs during the
                            planning phase of the project.
                        </p>
                    </div>
                </li>
                <li class="faq-item ac">
                    <h3 class="faq-title ac-header">
                        <button type="button" class="faq-btn ac-trigger">
                            What does the process of developing a software product look like
                            from idea to implementation?
                            <svg class="faq-svg" width="20" height="20">
                            <use href="./img/icons/arrow.svg#icon-arrow-botton" />
                            </svg>
                        </button>
                    </h3>

                    <div class="ac-comment ac-panel">
                        <p class="faq-paragraph ac-text">
                            Payment through credit and debit cards such as Visa, MasterCard,
                            specialized electronic payment systems such as PayPal, as well as
                            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>