<!-- header.html -->
<header class="page-header">
    <div class="header-container">
        <nav class="navigation">
            <ul class="header-logo">
                <li class="header-logo-link"> <img src="./img/header/logo.png" alt="header logo image"></li>
                <li class="header-logo-link"><a class="header-text-logo" href="#">jefferson*</a></li>
            </ul>
            <div class="header-dropdown-menu">
                <a class="header-list-menu" href="#">Menu </a>
                <ul class="header-dropdown-menu-content visually-hidden">
                    <li class="header-dropdown-menu-item"><a class="header-dropdown-menu-link" href="#about-me">About me</a></li>
                    <li class="header-dropdown-menu-item"><a class="header-dropdown-menu-link" href="#benefits">Benefits</a></li>
                    <li class="header-dropdown-menu-item"><a class="header-dropdown-menu-link" href="#projects">Projects</a></li>
                    <li class="header-dropdown-menu-item"><a class="header-dropdown-menu-link" href="#faq">FAQ</a></li>
                </ul>
            </div>
            <a class="header-list-order" href="#order"> Order the project </a>
            <button class="burger-menu" type="button"></button>
        </nav>
    </div>
</header>
<!-- mobil -->
<div class="mobil-menu gradient gradient-red">
    <!-- <div class="glass"></div> -->
    <div class="mobil-menu-container">
        <button class="burger-menu mobil-menu-close-btn"></button>
        <nav class="mobil-menu-nav ">
            <ul class="mobil-menu-nav-list">
                <li class="mobil-menu-nav-item"><a class="mobil-menu-nav-link" href="#about-me">About me</a>
                </li>
                <li class="mobil-menu-nav-item"><a class="mobil-menu-nav-link" href="#benefits">Benefits</a>
                </li>
                <li class="mobil-menu-nav-item"><a class="mobil-menu-nav-link" href="#projects">Projects</a>
                </li>
                <li class="mobil-menu-nav-item"><a class="mobil-menu-nav-link" href="#fqa">FAQ</a>
                </li>
            </ul>
        </nav>
        <!-- <button class="mobil-menu-order-btn btn btn-red" type="button">Order the project</button> -->
        <a class="mobil-menu-order-btn" href="#order"> Order the project </a>
    </div>
</div>