<!-- hero.html -->
<section class="section-hero gradient gradient-red">
    <div class="glass"></div>
    <div class="hero-container">
        <h1 class="hero-page-title">Hello.<br> I'm Fullstack developer Lloyd Jefferson.</h1>
        <div class="hero-contact">
            <ul class="hero-social-list">
                <li class="hero-social-list-item"><a class="hero-social-list-link"
                        href="https://www.instagram.com/goitclub/">IG</a></li>
                <li class="hero-social-list-item"><a class="hero-social-list-link"
                        href="https://www.facebook.com/goITclub/">FB</a></li>
                <li class="hero-social-list-item"><a class="hero-social-list-link"
                        href="https://www.youtube.com/c/GoIT">YT</a></li>
                <li class="hero-social-list-item"><a class="hero-social-list-link"
                        href="https://github.com/TyronNIKO/Malibu-developers">GH</a></li>
            </ul>
            <a class="hero-contact-mail" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </div>
    </div>
</section>