<!-- projects.html -->
<section>
    <div class="top-screen">
        <div class="">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="">
            <h2></h2>
            <button>Programming Across <br>  Borders: Ideas, <br>  Technologies, Innovations</button>
        </div>

    </div>
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
         <ul class="swiper-wrapper">
            <li class="swiper-slide"><img src="../img/projects/image 2.jpg" alt=""></li>
            <li class="swiper-slide"><img src="../img/projects/image 3.jpg" alt=""></li>
            <li class="swiper-slide"><img src="../img/projects/image 4.jpg" alt=""></li>
         </ul>
        
        <!-- If we need pagination 
        <div class="swiper-pagination"></div>-->
    
        <!-- If we need navigation buttons -->
        <button type="button" class="swiper-button-prev">left</button>
        <button type="button" class="swiper-button-next">right</button>
        
    
        <!--  If we need scrollbar 
        <div class="swiper-scrollbar"></div> -->
        
    </div>
</section>