<!-- projects.html -->
<section class="container pb-style">
   
    <h2 class="project-intro">Projects</h2>
    <!-- Slider main container -->
    <div class="swiper projects-slide">
        <!-- Additional required wrapper -->
         <div class="swiper-wrapper">
            
            
            <div class="swiper-slide project-swiper-slide">
                <div class="top-screen project-top-screen">
                    <div class="skills">
                        <ul class="project-lang-skill">
                            <li class="project-one-skill btn">#react</li>
                            <li class="project-one-skill btn">#js</li>
                            <li class="project-one-skill btn">#node js</li>
                            <li class="project-one-skill btn">#git</li>
                        </ul>
                    </div>
                    <div class="text-style">
                        <h3 class="project-style-h3">Programming Across <br> Borders: Ideas, <br> Technologies, Innovations</h3>
                        <button type="button" class="project-btn-style btn btn-red">
                            <a href="https://github.com/TyronNIKO/Malibu-developers" target="_blank">See project</a></button>
                    </div>
                
                </div>

                <div class="project-img-bg">
                     <picture>
                        <source srcset="
                            ./img/projects/image2-comp.jpg 1x,
                            ./img/projects/image2-comp-2@.jpg 2x
                        " media="(min-width:1440px)" />
                        <source srcset="
                            ./img/projects/image2-tablet.jpg 1x,
                            ./img/projects/image2-tablet-2@.jpg 2x
                        " media="(min-width:768px)" />
                        <source srcset="
                            ./img/projects/image 2.jpg 1x,
                            ./img/projects/image 2-2@.jpg 2x
                                                            
                        " media="(max-width:767px)" />
                        <img src="./img/projects/image 2.jpg" alt="realProject-image" class="project-img">
                    </picture>
                    
                </div>
                
            </div>


            <div class="swiper-slide project-swiper-slide">
                <div class="top-screen project-top-screen">
                    <div class="skills">
                        <ul class="project-lang-skill">
                            <li class="project-one-skill btn">#react</li>
                            <li class="project-one-skill btn">#js</li>
                            <li class="project-one-skill btn">#node js</li>
                            <li class="project-one-skill btn">#git</li>
                        </ul>
                    </div>
                    <div class="text-style">
                        <h3 class="project-style-h3">Programming Across <br> Borders: Ideas, <br> Technologies, Innovations</h3>
                        <button type="button" class="project-btn-style btn btn-red">
                            <a href="https://github.com/TyronNIKO/Malibu-developers" target="_blank">See project</a></button>
                    </div>
            
                </div>
            
                <div class="project-img-bg">
                    <picture>
                        <source srcset="
                                            ./img/projects/image3-comp.jpg 1x,
                                            ./img/projects/image3-comp-2@.jpg 2x
                                        " media="(min-width:1440px)" />
                        <source srcset="
                                            ./img/projects/image3-tablet.jpg 1x,
                                            ./img/projects/image3-tablet-2@.jpg 2x
                                        " media="(min-width:768px)" />
                        <source srcset="
                                            ./img/projects/image 3.jpg 1x,
                                            ./img/projects/image 3-2@.jpg 2x
                                                                            
                                        " media="(max-width:767px)" />
                        <img src="./img/projects/image 3.jpg" alt="realProject-image" class="project-img">
                    </picture>
                
                </div>
            
            </div>


            <div class="swiper-slide project-swiper-slide">
                <div class="top-screen project-top-screen">
                    <div class="skills">
                        <ul class="project-lang-skill">
                            <li class="project-one-skill btn">#react</li>
                            <li class="project-one-skill btn">#js</li>
                            <li class="project-one-skill btn">#node js</li>
                            <li class="project-one-skill btn">#git</li>
                        </ul>
                    </div>
                    <div class="text-style">
                        <h3 class="project-style-h3">Programming Across <br> Borders: Ideas, <br> Technologies, Innovations</h3>
                        <button type="button" class="project-btn-style btn btn-red" >
                            <a href="https://github.com/TyronNIKO/Malibu-developers" target="_blank">See project</a></button>
                    </div>
            
                </div>
            
                <div class="project-img-bg">
                    <picture>
                        <source srcset="
                                            ./img/projects/image4-comp.jpg 1x,
                                            ./img/projects/image4-comp-2@.jpg 2x
                                        " media="(min-width:1440px)" />
                        <source srcset="
                                            ./img/projects/image4-tablet.jpg 1x,
                                            ./img/projects/image4-tablet-2@.jpg 2x
                                        " media="(min-width:768px)" />
                        <source srcset="
                                            ./img/projects/image 4.jpg 1x,
                                            ./img/projects/image 4-2@.jpg 2x
                                                                            
                                        " media="(max-width:767px)" />
                        <img src="./img/projects/image 4.jpg" alt="realProject-image" class="project-img">
                    </picture>
                
                </div>
            
            </div>


         </div>
        
        <!-- If we need pagination 
        <div class="swiper-pagination"></div>-->
    
        <!-- If we need navigation buttons -->
     <div class="btns-style">
        <div class="swiper-button-prev btn-round div-icon-item">
            
                    <svg class="team-icon team-icon-left" >
                        <use href="./img/projects/symbol-defs1.svg#icon-arrow-narrow-right2"></use>
                    </svg>
             
        </div>
        <div class="swiper-button-next btn-round div-icon-item">
            
                <!-- <a href="" class="div-icon-item"> -->
                    <svg class="team-icon" >
                        <use href="./img/projects/symbol-defs1.svg#icon-arrow-narrow-right2"></use>
                    </svg>
            
        </div>
      </div>
        
        
    
        <!--  If we need scrollbar 
        <div class="swiper-scrollbar"></div> -->
        
    </div>
</section>