<!-- projects.html -->
<section class="pb-style projects" id="projects">
    <div class="container">
        <h2 class="projects-intro">Projects</h2>
        <div class="swiper projects-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide project-swiper-slide">
                    <div class="top-screen project-top-screen">
                        <div class="skills">
                            <ul class="project-lang-skill">
                                <li class="project-one-skill btn">#react</li>
                                <li class="project-one-skill btn">#js</li>
                                <li class="project-one-skill btn">#node js</li>
                                <li class="project-one-skill btn">#git</li>
                            </ul>
                        </div>
                        <div class="text-style">
                            <h3 class="project-style-h3">Programming Across <br> Borders: Ideas, <br> Technologies, Innovations</h3>
                            <a href="https://github.com/TyronNIKO/Malibu-developers" class="project-btn-style btn btn-red" target="_blank">See project</a>
                        </div>
                    </div>
                    <div class="project-img-bg">
                        <picture>
                            <source srcset="./img/projects/image2-comp.jpg,
                            ./img/projects/image2-comp-2@.jpg 2x" media="(min-width:1440px)" />
                            <source srcset="./img/projects/image2-tablet.jpg,
                            ./img/projects/image2-tablet-2@.jpg 2x" media="(min-width:768px)" />
                            <source srcset="./img/projects/image2.jpg,
                            ./img/projects/image2-2@.jpg 2x" media="(max-width:767px)" />
                            <img src="./img/projects/image2.jpg" alt="realProject-image" class="project-img">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide project-swiper-slide">
                    <div class="top-screen project-top-screen">
                        <div class="skills">
                            <ul class="project-lang-skill">
                                <li class="project-one-skill btn">#react</li>
                                <li class="project-one-skill btn">#js</li>
                                <li class="project-one-skill btn">#node js</li>
                                <li class="project-one-skill btn">#git</li>
                            </ul>
                        </div>
                        <div class="text-style">
                            <h3 class="project-style-h3">Programming Across <br> Borders: Ideas, <br> Technologies, Innovations</h3>
                            <a href="https://github.com/TyronNIKO/Malibu-developers" class="project-btn-style btn btn-red" target="_blank">See project</a>
                        </div>
                    </div>
                    <div class="project-img-bg">
                        <picture>
                            <source srcset="./img/projects/image3-comp.jpg,
                            ./img/projects/image3-comp-2@.jpg 2x" media="(min-width:1440px)" />
                            <source srcset="./img/projects/image3-tablet.jpg,
                            ./img/projects/image3-tablet-2@.jpg 2x" media="(min-width:768px)" />
                            <source srcset="./img/projects/image3.jpg,
                            ./img/projects/image3-2@.jpg 2x" media="(max-width:767px)" />
                            <img src="./img/projects/image3.jpg" alt="realProject-image" class="project-img">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide project-swiper-slide">
                    <div class="top-screen project-top-screen">
                        <div class="skills">
                            <ul class="project-lang-skill">
                                <li class="project-one-skill btn">#react</li>
                                <li class="project-one-skill btn">#js</li>
                                <li class="project-one-skill btn">#node js</li>
                                <li class="project-one-skill btn">#git</li>
                            </ul>
                        </div>
                        <div class="text-style">
                            <h3 class="project-style-h3">Programming Across <br> Borders: Ideas, <br> Technologies, Innovations</h3>
                            <a href="https://github.com/TyronNIKO/Malibu-developers" class="project-btn-style btn btn-red" target="_blank">See project</a>
                        </div>
                    </div>
                    <div class="project-img-bg">
                        <picture>
                            <source srcset="./img/projects/image4-comp.jpg,
                            ./img/projects/image4-comp-2@.jpg 2x" media="(min-width:1440px)" />
                            <source srcset="./img/projects/image4-tablet.jpg,
                            ./img/projects/image4-tablet-2@.jpg 2x" media="(min-width:768px)" />
                            <source srcset="./img/projects/image4.jpg,
                            ./img/projects/image4-2@.jpg 2x" media="(max-width:767px)" />
                            <img src="./img/projects/image4.jpg" alt="realProject-image" class="project-img">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="btns-style">
                <button type="button" class="swiper-button-prev prev btn-round div-icon-item">
                    <span class="arrow arrow-left"></span>
                </button>
                <button type="button" class="swiper-button-next next btn-round div-icon-item">
                    <span class="arrow arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</section>