<section class="reviews-section" id="reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <div class="swiper reviews-wrapper">
            <ul class="reviews-list swiper-wrapper"></ul>
            <div class="btn-wrapper">
                <button class="swiper-button-prev prev reviews-btn" type="button">

                </button>
                <button class="swiper-button-next next reviews-btn" type="button">

                </button>
            </div>
        </div>
    </div>
</section>