<!-- work-together.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's work together</title>
    <link rel="stylesheet" href="../css/work-together.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>

<body>
    <div class="container work-together-cont">
        <h2 class="work-title">LET’S <span class="work-span">WORK</span> TOGETHER</h2>
        <form id="contact-form" class="contact-form">
            <div class="form-inputs">
<input type="email" id="email" name="email" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" placeholder="clients@gmail.com" required>
<input class="input-comment" type="comment" id="comment" name="comment" placeholder="comments" required>
<button class="work-button" type="submit">Send</button>
        </div>

     
        </form>
                   
                    <div class="work-links-info">
                            <a class="work-mail" href="mailto:lojdjefferson@gmail.com" class="contact-link">llojdjefferson@gmail.com</a>
                            <a class="work-tel" href="tel:+3801111111111" class="contact-link">+3801111111111</a>
                    </div>
        <!-- <div id="modal" class="modal">
             <div class="modal-content">
                <span class="close">&times;</span>
                <p id="modal-message"></p>
            </div> -->
        </div> 
    </div>
    <script src="../js/work-together.js"></script>
</body>

</html>