<!-- work-together.html -->
<section class="work-together" id="order">
    <div class="container">
        <div class="work-together-h2">
            <img
                id="work-together"
                src="./img/header/logo.png"
                alt="Опис зображення" />
            <h2 class="work-title">LET’S <span class="work-span">WORK</span></h2>
            <h2 class="work-title-2d-part">TOGETHER</h2>
        </div>
        <form id="contact-form" class="contact-form">
            <div class="form-inputs">
                <div class="input-group">
                    <input
                        type="email"
                        id="email"
                        name="email"
                        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                        placeholder="clients@gmail.com"
                        required />
                    <span class="error-message">Invalid email, try again</span>
                    <span class="success-message">Succes!</span>
                </div>
                <input
                    class="input-comment"
                    type="text"
                    id="comment"
                    name="comment"
                    placeholder="comments"
                    required />
                <button class="work-button" type="submit">Send</button>
            </div>
        </form>
        <div class="work-links-info">
            <a class="work-mail" href="mailto:lojdjefferson@gmail.com">llojdjefferson@gmail.com</a>
            <a class="work-tel" href="tel:+3801111111111">+3801111111111</a>
        </div>
        <div id="modal" class="modal">
            <div class="modal-content">
                <div class="work-close-btn">
                    <button class="close-btn">
                        <svg
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.5 1.5L12.5 12.5"
                                stroke="#FAFAFA"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M12.5 1.5L1.5 12.5"
                                stroke="#FAFAFA"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div class="modal-text">
                    <p class="modal-message-1"> Thank you for your interest in cooperation! </p>
                    <p class="modal-message-2"> The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch. </p>
                </div>
            </div>
        </div>
    </div>
</div>