/* style accordion */
.about-me .ac .ac-trigger {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;

  line-height: 24px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
.about-me .ac {
  margin-top: 0;
  border: none;
  border-bottom: solid 1px rgba(250, 250, 250, 0.2);
  box-sizing: border-box;
}
.ac .ac-trigger {
  font: bold 16px Arial, sans-serif;
  background-color: #1c1d20;
  color: #fafafa;
  padding: 0;
}
.about-me .ac .ac-panel .ac-text {
  color: #fafafa;
  padding: 0;
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
/* classys from me */
.about-me {
}
.about-me .container {
}
.about-container:not(:last-child) {
  margin-bottom: 32px;
}
.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* style speech */
.about-me .speech {
  border-radius: 24px;
  max-width: 375px;
}

.about-me .speech .text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  height: 500px;
  padding: 32px 32px 0;
  background: #242527;
  border-radius: 24px;
}
.about-me .functional {
  color: #ed3b44;
}
.about-me .websites {
  color: rgba(250, 250, 250, 0.4);
}
.about-me .pictures {
  border-radius: 24px;
  background: #1c1d20;
}
.about-me-img {
  border-radius: 24px;
}
.about-me .about-container.accordion {
}

.about-me .about-container.accordion .list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.about-me .about-container.accordion .item {
  width: 100%;
  padding-bottom: 20px;
  background-color: #1c1d20;
}

.about-me .about-container.accordion .title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  height: 36px;
}

.container-presentation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}
.accordion .text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
/* styles scills */
.about-me .about-container.skills {
}
.about-me .about-container.skills .skills-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
/* media */
@media only screen and (min-width: 768px) {
  .about-me .speech {
    max-width: 768px;
  }
  .about-me .speech .text {
    font-size: 38px;
    line-height: 40px;
    line-height: 1.05263;
    letter-spacing: -0.03em;
    height: 700px;
    padding: 64px 64px 0 64px;
  }
  .accordion .title {
    height: 40px;
  }
  .about-me .about-container.accordion .item {
    padding-bottom: 32px;
  }
  .container-presentation {
    gap: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-container:not(:last-child) {
    margin-bottom: 96px;
  }
  .about-me .speech {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .speech .text {
    height: 700px;
    padding: 64px 64px 0;
    width: calc(100% / 2);
    order: 1;
  }
  .speech .pictures {
    width: calc(100% / 2);
    order: 2;
  }
  .container-presentation.ac-panel {
    width: 100%;
    margin-left: 696px;
    width: 612px;
    height: 320px;
  }
}
