:root {
    /* colors */
    --color-black: 28, 29, 32;
    --color-white: 250, 250, 250;
    --color-red: 237, 59, 68;
    --color-red-dark: 224, 55, 63;
    /* gradients */
    --gradient-red: linear-gradient(90deg, rgba(2,0,36,1) 50%, rgba(9,9,121,1) 68%, rgba(var(--color-red),1) 100%);
    --gradient-red: linear-gradient(90deg, rgba(2,0,36,1) 50%, rgba(9,9,121,1) 68%, #ED3B44 100%);

  }
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(var(--color-black), 1);
  color: rgba(var(--color-white), 1);
  font-weight: 500;
  font-size: 16px;
  font-family: 'Inter Tight', sans-serif;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* Mobile */
.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
