.faq-main-title {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.faq-svg {
    min-height: 34px;
    min-width: 34px;
    padding: 7px;
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 100px;
    display: block;
    stroke: #fafafa;
    background: transparent;
    cursor: pointer;
}

.accordion-container.faq {
    display: grid;
    grid-template-columns: 1fr;
}

.ac {
    margin-top: 0px;
}

.ac.faq-item {
    margin-top: 0px;
    background-color: #1C1D20;
    border: none;
    padding: 20px 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.1);
}

.ac.faq-item:first-child {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
}

.ac.faq-item span {
    font-family: 'Inter Tight';
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    padding-right: 20px;
    color: #fafafa;
}

p.ac-text {
    max-width: 343px;
    font-family: 'Inter Tight';
    color: #fafafa;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.accordion-container .ac .ac-trigger {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    padding: 0%;
    background: none;
    text-decoration: none;
    border: none;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fafafa;
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 44px;
}



.accordion-container.faq .ac-trigger.faq-btn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.ac .ac-trigger {
    padding: 0%;
}

.accordion-container .ac .ac-trigger:focus {
    color: #fafafa;
}


.ac .ac-trigger::after {
    display: none;
}

.faq-item.is-active .faq-svg {
    transform: rotate(180deg);
    transition: ease-in 0.3s;
}

.ac-panel {
    padding-right: 24px;
}

.faq-list .faq-item .ac-comment .faq-paragraph {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    padding: 16px 0 20px;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .section-fqa {
        padding: 47px 32px;
    }

    .faq-main-title {
        padding: 0;
        font-size: 20px;
    }

    .faq-list .faq-item .ac-comment .faq-paragraph {
        max-width: 656px;
        padding-top: 26px;
        padding-bottom: 24px;
    }

    .faq-svg {
        min-height: 40px;
        min-width: 40px;
        padding: 10px;
    }

    .ac-trigger {
        gap: 90px;
    }

    .ac.faq-item {
        padding: 32px 0;
        background-color: #1C1D20;
    }

    .ac-panel {
        padding-right: 32px;
    }
}

@media (min-width: 1440px) {
    .faq-list .accordion-container {
        grid-template-columns: 50% 50%;
    }

    .faq-list {
        display: flex;
        flex-wrap: wrap;
    }

    .ac.faq-item {
        width: calc(100% / 2);
        margin: 0;

    }

    .faq-list .faq-item .ac-comment .faq-paragraph {
        padding: 26px 0 26px;
        text-align: left;
        max-width: 656px;
    }

    .accordion-container .ac .faq-item {
        border: none;
        padding-bottom: 32px;
        margin-bottom: 0;
        border-top: 1px solid rgba(250, 250, 250, 0.1);
    }

    .ac.faq-item:nth-child(odd) {
        border: 1px solid rgba(250, 250, 250, 0.1);
        border-left: none;
        padding-left: 0%;
        padding-right: 32px;

    }

    .ac.faq-item:nth-child(even) {
        border: 1px solid rgba(250, 250, 250, 0.1);
        border-right: none;
        padding-left: 32px;
    }

}