.page-header{position:absolute;top:0;left:0;z-index:999;width:100%}
.header-container{padding-top:32px;padding-right:16px;padding-left:16px}
.navigation{display:flex;justify-content:space-between;align-items:center}
.header-logo{display:flex;gap:8px;justify-content:space-between;align-items:center}
.burger-menu{position:absolute;top:32px;right:16px;display:flex;flex-direction:column;gap:4px;justify-content:center;align-items:center;width:28px;height:28px;padding:0;border:none;background-color:transparent;line-height:0;cursor:pointer}
.burger-menu::before,.burger-menu::after{content:'';width:21px;height:2px;background-color:rgba(var(--color-white),1);transition:transform 250ms ease-out}
.header-list-menu{display:none;padding:10px;background-color:transparent;color: rgba(var(--color-white),1);text-decoration:none;transition:color 250ms ease-out;}
.header-list-menu:hover,.header-list-menu:focus{color:rgba(var(--color-red), 1)}
.header-list-menu span{position:relative}
.header-list-menu span:after{content:'';position:absolute;bottom:-2px;left:0;width:100%;height:1px;background:currentColor}
.header-list-order{display:none}
.header-dropdown-menu{position:relative}
.header-dropdown-menu-content{position:absolute;top:42px;left:50%;z-index:1;display:flex;flex-direction:column;gap:8px;justify-content:space-between;align-items:center;min-width:67px;opacity:1;transition:opacity 250ms ease-out;transform:translateX(-50%)}
.header-dropdown-menu-content.visually-hidden{opacity:0}
.header-dropdown-menu-link{color:#fafafa;transition:color 250ms ease-out}
.header-dropdown-menu-link:hover,.header-dropdown-menu-link:focus{color:rgba(var(--color-red), 1)}
/* mobil window */
.mobil-menu{position:fixed;top:0;left:0;z-index:99999;display:flex;flex-direction:column;width:100vw;height:100%;padding:32px 16px 64px 16px;background-color:#242527;opacity:0;visibility:hidden;transition:opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)}
.mobil-menu.is-open{opacity:1;visibility:visible}
.mobil-menu-container{position:relative;display:flex;flex-direction:column;justify-content:space-between;align-items:center;height:100%}
.mobil-menu-close-btn{top:0;right:0}
.is-open .burger-menu::before,.is-open .burger-menu::after{transition:transform 250ms ease-out;transform-origin:center}
.is-open .burger-menu::before{transform:rotate(45deg) translate(2px, 2px)}
.is-open .burger-menu::after{transform:rotate(-45deg) translate(2px, -2px)}
.mobil-menu-nav{display:flex;justify-content:center;align-items:center;margin:auto;margin-right:auto;margin-left:auto}
.mobil-menu-nav-item{display:flex;justify-content:center;align-items:center;column-gap:12px}
.mobil-menu-nav-link{color:#fafafa;font-weight:500;font-size:16px;font-family:'Inter Tight',sans-serif;letter-spacing:-0.02em;text-decoration:underline;text-decoration-skip-ink:none}
.mobil-menu-nav-link:hover,.mobil-menu-nav-link:focus{color:#ed3b44}
.mobil-menu-order-btn{display:flex;justify-content:center;align-items:center;width:fit-content;min-width:164px;height:45px;padding:14px 31px;border:transparent;border-radius:60px;background-color:#ed3b44;font-size:14px}
.mobil-menu-order-btn,.mobil-menu-order-btn{background-color:rgba(var(--color-red-dark), 1)}
.mob-menu-overflow{overflow:hidden}
.page-header .d-none {display: none;}
@media only screen and (min-width: 768px){
    .mobil-menu {display: none;}
.header-container{padding-right:32px;padding-left:32px}
.header-list-menu{display:block}
.header-list-order{display:block;min-width:163px;padding:18px 24px}
.burger-menu{display:none}
}
@media only screen and (min-width: 1440px){

}