.section-hero {position: relative;height:100dvh;}
.hero-container{position:relative;z-index:1;display:flex;flex-direction:column;height:100%;padding:16px 0;}
.hero-page-title{margin:auto;color:rgba(var(--color-white),1);font-weight:500;font-size:50px;line-height:1;letter-spacing:-0.08em;text-transform:uppercase}
.hero-contact{display:flex;gap:4px;justify-content:space-between;align-items:center}
.hero-social-list{display:flex;gap:4px;justify-content:space-between;align-items:center}
.hero-social-list-link{display:flex;justify-content:center;align-items:center;width:37px;height:37px;padding:unset}
.hero-contact-mail{display:flex;justify-content:center;align-items:center;padding:10px 12px}
.hero-contact a{font-size:14px;line-height:1;letter-spacing:-0.02em}
@media only screen and (min-width: 768px){
    .section-hero { min-height: 1024px;}
.hero-contact a{font-size:16px;}
.hero-contact-mail{padding:18px 24px}
.hero-social-list-link{width:55px;height:55px}
.hero-container{padding-right:32px;padding-left:32px;}
.hero-page-title{width:632px;font-size:90px}
.hero-contact{gap:8px;justify-content:flex-end}
}
@media only screen and (min-width: 1440px){
.hero-page-title{width:1084px;letter-spacing:-0.08em}
}