.work-together-cont{
    width: 375px;
    height: 552px;
    background-color:  #1c1d20;
  
}

.work-span{
        color: #ED3B44;
}
.work-title{
    color: #FAFAFA;
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
            padding-top: 32px;
                padding-left: 16px;
                padding-right: 92px;
                margin-bottom: 63px;
}
.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
input {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    box-sizing: border-box;
    background-color: #1c1d20;
    width: 343px;
    height: 44px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: left;
}

input::placeholder {
    color: #888;
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
}

input[type="email"],
input[type = "comment"] {
    text-align: left;
    color: #FAFAFA;
}

.work-button{
    width: 100px;
    height: 100px;border-radius: 100%;
    background-color: #ED3B44;
color: #FAFAFA;
    border: none;
    font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        margin-left: 16px;
        margin-top: 16px;
        
}
.work-button:hover{
    background-color: #e0373f;;
}
.work-links-info{
            margin-top: 64px;
                margin-left: 16px;
                margin-right: 59px;
                display: flex;
               gap: 4px;
                
            
}
.work-mail{
    border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;
        padding: 10px 12px;
        width: 178px;
        height: 37px;
        color: #FAFAFA;
       
        font-weight: 500;
            font-size: 14px;
            letter-spacing: -0.02em;
            display: inline-block;
            box-sizing: border-box;
            display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                text-align: center;

}
.work-tel {
    border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;
        padding: 10px 12px;
        width: 118px;
        height: 37px;
        color: #FAFAFA;
        font-weight: 500;
            font-size: 14px;
            letter-spacing: -0.02em;
            display: inline-block;
            box-sizing: border-box;
            display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                text-align: center;
}
@media only screen and (min-width: 768px) {
    .work-together-cont {
            width: 768px;
            height: 636px;
    }
        .work-title {
            font-size: 64px;
            padding-top: 88px;
                padding-left: 32px;
                padding-right: 204px;
                margin-bottom: 18px;
        }
.form-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    margin: 0 ;
    gap: 32px;
}
 input {
    width: 245px;
    height: 44px;
    margin: 0 ;
     padding: 10px; 
    position: relative;
    text-align: left;
    margin-left: 32px;
} 
.input-comment{
    margin-left: 0;
}
.work-button {
    width: 150px;
    height: 150px;
    margin-left: 0;
    margin-top: 0;
    margin-right: 32px;
}
.work-links-info {
    margin-top: 18px;
    margin-left: 32px;
    margin-right: 318px;
  
    gap: 8px;


}

.work-mail {
 
    padding: 18px 32px;
    width: 239px;
    height: 55px;
    font-size: 16px;
}

.work-tel {

    padding: 18px 32px;
    width: 171px;
    height: 55px;
    font-size: 16px;
}
}
@media only screen and (min-width: 1440px)  {
    .work-together-cont {
            width: 1440px;
        }
    
        .work-title {
            
            padding-top: 80px;
            padding-left: 196px;
            padding-right: 702px;
        }
    
        .form-inputs {
            margin: 0;
            gap: 32px;
        }
    
        input {
            width: 390px;
            margin-left: 196px;
        }
    
        .input-comment {
            margin-left: 0;
            margin-right: 54px;
        }
    
        .work-button {
            width: 150px;
            height: 150px;

            margin-left: 0;
            margin-top: 0;
            margin-right: 196px;
        }
    
        .work-links-info {
            margin-left: 196px;
            margin-right: 826px;
        }
}
/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */