.work-together{position:relative;padding:32px 0;background-color:#1c1d20}
.work-together .work-title{display:flex;flex-wrap:wrap;margin-bottom:63px;color:#fafafa;font-weight:500;font-size:40px;line-height:100%;letter-spacing:-0.03em;text-transform:uppercase}
.work-together .work-title img{width:44px;height:44px;margin-right:8px}
.work-together .work-title span{color:#ed3b44}
.work-together .contact-form {margin-bottom: 64px;}
.work-together .form-inputs{display:flex;flex-direction:column;gap:16px}
.work-together .input-group{position:relative;display:flex;flex-direction:column;width: 100%;margin-bottom:4px;}
.work-together .input-error{border-bottom:1px solid #e74a3b}
.work-together .input-valid{border-bottom:1px solid #3cbc81}
.work-together .error-message{position:absolute;bottom:-20px;left:0;display:none;margin-top:4px;color:#e74a3b;font-weight:500;font-size:14px;line-height:129%;letter-spacing:-0.02em/* Зміщення повідомлення вниз */}
.work-together .success-message{position:absolute;bottom:-20px;left:0;display:none;margin-top:4px;color:green;font-weight:500;font-size:14px;line-height:129%;letter-spacing:-0.02em/* Зміщення повідомлення вниз */}
.work-together .work-button{ flex-shrink: 0;width:100px;height:100px; margin-top: 16px;}
.work-together .work-links-info {display:flex;flex-direction:row;gap:4px}
.work-together .work-links-info .btn{padding: 10px 12px; font-size: 14px; line-height: 1;}
.work-together .modal{position:absolute;top:0;left:0;z-index:9999;display:none;box-sizing:border-box;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.5)}
.work-together .modal-content{position:absolute;top:50%;left:50%;box-sizing:border-box;width:343px;height:276px;padding-top:64px;padding-right:32px;padding-bottom:64px;padding-left:32px;border:1px solid rgba(250, 250, 250, 0.1);border-radius:20px;border-radius:8px;background-color:#1c1d20;box-shadow:0 5px 15px rgba(0, 0, 0, 0.3);transform:translate(-50%, -50%)}
.work-together .modal-text{width:279px;height:148px}
.work-together .modal-message-1{font-weight:600;font-size:20px;line-height:150%;letter-spacing:-0.06em;text-align:center}
.work-together .modal-message-2{margin-top:16px;font-weight:500;font-size:16px;line-height:150%;letter-spacing:-0.02em;text-align:center}
.work-together .close-btn{position:absolute;top:20px;right:20px;display:flex;justify-content:center;align-items:center;box-sizing:border-box;width:22px;height:22px;padding:5.5px;border:none;background:none;cursor:pointer}
.work-together .close-btn svg{width:11px;height:11px;stroke:var(--main-text);stroke-width:2px}
@media only screen and (min-width: 768px){
.work-together{padding:88px 0 169px;background-image:url(/img/work-together/elements.png);background-position:calc(100% + 32px) top;background-size:contain;background-repeat:no-repeat}
.work-together .work-title img{width:70px;height:70px}
.work-together .work-title{font-size:64px}
.work-together .work-title-2d-part{margin-bottom:18px;font-size:64px}
.work-together .form-inputs{display:flex;flex-direction:row;flex-wrap:nowrap;gap:32px;align-items:center;margin:0;margin-bottom:18px}
.work-together .input-comment{margin-left:0}
.work-together .work-button{width:150px;height:150px;margin-top:0;}
.work-together .work-links-info{gap:8px;}
.work-together .work-links-info .btn{padding: 18px 32px; font-size: 16px; }
.work-together .error-message,.success-message{padding-left:0}
.work-together .modal-content{width:492px;height:246px;padding-top:64px;padding-right:64px;padding-bottom:64px;padding-left:64px}
.work-together .modal-text{width:364px;height:118px}
.work-together .modal-message-1{white-space:nowrap}
.work-together .close-btn{width:24px;height:24px;padding:6px}
.work-together .close-btn svg{width:12px;height:12px}
}
@media only screen and (min-width: 1440px){
.work-together{background-position:calc(100% + 32px) top;}
.work-together-content {max-width:1048px;margin:auto;}
.work-together .form-inputs{gap:32px;margin:0}
.work-together .error-message,.success-message{padding-left:196px}
.work-together .close-btn{width:24px;height:24px;padding:6px}
.work-together .work-title {max-width: 542px;}
.work-together .work-button {margin-left: 54px;}
}